body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.container {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 60px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 13px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}


.productos li:hover {
    border-color: #c78c19;
    transform: scale(1.1)
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos h2:hover h2{
    font-size: 33px;
}

.producto_descripcion {
    font-size: 18px;
}

.producto_precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(./images/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #fff;
    font-size: 13px;
    margin: 20px;
}


form {
    margin: 40px 0;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.enviar:hover {
    background: #c78c19;
    transition: 0.3s;
    transform: scale(1.1);
}

table {
    margin: 40px 40px;
}

thead {
    background: #555;
    color: #fff;
    font-weight: bold;
}

td, th{
    border: 1px solid #000;
    padding: 8px 15px;
}

/*Css para nuestra home*/

.banner {
    width: 100%;
}

.container_principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.titulo_principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

p::first-line {
    font-style: italic;
}


.container p {
    margin: 0 0 1em;
}

.container strong{
    font-weight: bold;
}

.container em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 10px 10px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa_container {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #888;

}
.contenido_diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista_diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}
 .items::before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}

.imagen_diferenciales {
    width: 60%;
    opacity: 0.8;
    box-shadow: 10px 10px 20px 8px #000;
}
.imagen_diferenciales:hover {
    opacity: 1;
    transition: 0.5s;
}

.video {
    width: 600px;
    margin: 1em auto;
}

@media screen and (max-width:950px) {
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
    .container, .container_principal, .mapa_container, .contenido_diferenciales, .video {
        width: auto;
    }

    .lista_diferenciales, .imagen_diferenciales {
        width: 100%;
    }
}